.banner {
  margin-top: 2rem;
  background-color: #f0f4f8;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
}

.banner:hover {
  background-color: #e0e7ed;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 12px 16px rgba(0, 0, 0, 0.1);
}

.bannerText {
  font-size: 1.2rem;
  color: #368f8b;
  font-weight: bold;
  text-align: center;
}
